YA_DISK_TOKEN=y0__xCF3O7TBRiawkAgu7ODjxcw-PHm8QeYnsrRZZENyXYjYYycA5Gxel6xwA
CLOUDBRIDGE_DB_PATH=.cloudbridge/state.db
CLOUDBRIDGE_LOCAL_ROOT=.
CLOUDBRIDGE_CLOUD_ROOT=disk:/
CLOUDBRIDGE_DISCOVERY_DEPTH=-1
